@import './variables.styl'

.layout
  display flex
  justify-content space-between
  background-color $colorBackground

.matrix-container
  width $matrixLength
  height $matrixLength
  margin auto

.matrix-table
  width 100%
  height 100%
  background-color $blue

.tone-container
  width 27px
  height 27px
  background-color $green
  cursor pointer
  transition all 0.3s
  
  &:hover
    background-color $black
  
.tracks-container
  display flex
  
.add-track-button-container
  width $miniMatrixLength
  height $miniMatrixLength
  background $blue
  cursor pointer
  border 1px solid $black
  text-align center
  line-height $miniMatrixLength
  font-size 30px

.track-container
  border 1px solid $black
  
.mini-matrix-container
  width $miniMatrixLength
  height $miniMatrixLength
  background-color $blue
  cursor pointer

.track-remove-button-container
  width $trackRemoveButtonLength
  height $trackRemoveButtonLength
  background-color $red
  text-align center
  cursor pointer
  line-height $trackRemoveButtonLength
  font-size 30px

.track-body-container
  width $trackBodyWidth
  height $trackBodyHeight
  background-color $orange
